#grid-parent {
	width: 960px;
	padding: 25px;
}

#grid {
	border: black solid 1px;
	width: fit-content;
}

.row {
	display: flex;
}

.column {
	display: flex;
	padding: 4px;
}

#new-size {
	margin: 25px 0 0 25px;
	padding: 5px;
}
